.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form {
  text-align: left;
}

input {
  display: block;
}

label, input, button {
  margin-top: 5px;
}

